network:
  version: 2
  ethernets:
    {{ ceph_interface }}:
      addresses:
        - {{ cluster_ip }}
      mtu: 9000
      routes:
        - to: {{ cluster_networks }}/{{ cluster_netmask }}
          via: {{ cluster_gateway }}
