[Resolve]
DNS={{ dns_ipa }} {{ dns_mikrotik }}
#FallbackDNS=
Domains={{ ipa_domain }} ~.
#DNSSEC=no
#DNSOverTLS=no
#MulticastDNS=no
#LLMNR=no
#Cache=no-negative
#CacheFromLocalhost=no
#DNSStubListener=yes
#DNSStubListenerExtra=
#ReadEtcHosts=yes
#ResolveUnicastSingleLabel=no
#StaleRetentionSec=0

